# See http://help.github.com/ignore-files/ for more about ignoring files.

/.metadata/
# Ignore build directory
multiprogrammed_server/.metadata/
multiprogrammed_server/src/*.exe
multiprogrammed_server/simulations/results
Factorial-Analysis/.idea
Factorial-Analysis/__pycache__
multiprogrammed_server/.settings
multiprogrammed_server/out
